$mainColor:#003399; //RGB Color-  0, 51, 153
$subColor:#ffcc02; //RGB Color-  255, 204, 2
$pointColor:#f26722; //RGB Color-  242, 103, 34

$whiteColor:#fff; ////RGB Color-  255, 255, 255
$blackColor:#444; ////RGB Color-  23, 23, 23
  