@charset "UTF-8";
#wrap { width: 100%; min-width: 960px; height: auto; margin: 0 auto; }

h3 { width: 500px; height: 50px; margin: 0 auto; margin-bottom: 40px; font-size: 2rem; color: blackColor; text-align: center; line-height: 50px; }

h3:before { content: " | "; color: #003399; font-weight: bold; }

h3:after { content: " | "; color: #003399; font-weight: bold; }

h3.nobar:before { display: none; }

h3.nobar:after { display: none; }

h3.box_in_h3 { width: 400px; height: auto; font-size: 2rem; color: #fff; text-align: left; line-height: 0; position: absolute; top: 10%; left: 5%; z-index: 2000; }

#headBox { width: 960px; height: 60px; margin: 0 auto; padding: 10px; box-sizing: border-box; background-color: #003399; }

#headBox::before { content: " "; width: 100%; height: inherit; position: absolute; top: 0; left: 0; z-index: -100; background-color: inherit; /* background-color를 위해 설정 */ }

h1 { width: 100px; height: 100%; margin-right: 20px; float: left; background-image: url("../../img/ikea_outside_image/ikea_logo_vector.png"); background-size: 101px; background-repeat: no-repeat; background-position: center; }

h1 a { width: 100%; height: 100%; display: block; }

#gnb { width: 800px; height: 100%; float: left; }

#gnb > ul { width: 100%; height: 100%; }

#gnb > ul > li { height: 100%; float: left; margin-left: 10px; font-size: 1rem; color: #fff; text-align: center; line-height: 50px; }

#gnb > ul > li a { width: 100%; height: 100%; display: block; }

#gnb > ul > li a:hover { color: #ffcc02; }

#gnb > ul > li:nth-child(1) { width: 90px; }

#gnb > ul > li:nth-child(2) { width: 90px; }

#gnb > ul > li:nth-child(3) { width: 110px; }

#gnb > ul > li:nth-child(4) { width: 140px; }

#gnb > ul > li:nth-child(5) { width: 90px; }

#gnb > ul > li:nth-child(6) { width: 30px; float: right; font-size: 2rem; }

#contentBox { width: 100%; height: auto; padding: 20px; box-sizing: border-box; }

button { width: 100%; height: 100%; display: block; font-size: 0.9rem; color: #fff; text-align: center; line-height: 45px; }

button.font_color_main { width: 100%; height: 100%; display: block; font-size: 0.9rem; color: #003399; text-align: center; line-height: 45px; font-weight: bold; }

button:hover { box-shadow: 0.2rem 0.2rem 0.2rem rgba(50, 50, 50, 0.3) inset; }

#infoBox { width: 340px; height: 510px; border-radius: 30px; margin: 0 auto; margin-bottom: 200px; box-shadow: 10px 10px 10px #ddd; background-color: #fcfcfc; }

#infoBox > ul { width: 270px; height: 100%; padding: 300px 0 0 0; box-sizing: border-box; margin: 0 auto; }

#infoBox > ul > li { width: 270px; height: 45px; margin-bottom: 20px; font-size: 1.7rem; color: #fff; text-align: right; line-height: 45px; }

#infoBox > ul > li:nth-child(1) { background-color: #003399; }

#infoBox > ul > li:nth-child(2) { background-color: #ffcc02; }

#infoBox > ul > li:nth-child(3) { background-color: #f26722; }

#signInBox { width: 340px; height: 510px; border-radius: 30px; margin: 0 auto; margin-bottom: 200px; box-shadow: 10px 10px 10px #ddd; background-color: #fcfcfc; }

#signInBox > ul { width: 270px; height: 100%; padding: 30px 0 0 0; box-sizing: border-box; margin: 0 auto; }

#signInBox > ul > li { width: 250px; height: 45px; margin-bottom: 20px; border-bottom: 2px solid #003399; box-sizing: border-box; font-size: 0.9rem; color: #003399; text-align: left; line-height: 45px; }

#signInBox > ul > li:nth-child(1) { width: 120px; background-color: #ffcc02; text-align: left; margin-bottom: 100px; border-bottom: 0; border-top-right-radius: 30px; border-bottom-right-radius: 30px; }

#signInBox > ul > li:nth-child(4) { width: 270px; background-color: #003399; text-align: center; margin-top: 150px; border-bottom: 0; }

#signUpBox { width: 340px; height: 510px; border-radius: 30px; margin: 0 auto; margin-bottom: 200px; box-shadow: 10px 10px 10px #ddd; background-color: #fcfcfc; }

#signUpBox > ul { width: 270px; height: 100%; padding: 30px 0 0 0; box-sizing: border-box; margin: 0 auto; }

#signUpBox > ul > li { width: 250px; height: 45px; margin-bottom: 20px; border-bottom: 2px solid #003399; box-sizing: border-box; font-size: 0.9rem; color: #003399; text-align: left; line-height: 45px; }

#signUpBox > ul > li:nth-child(1) { width: 120px; background-color: #003399; text-align: left; margin-bottom: 20px; border-bottom: 0; border-top-right-radius: 30px; border-bottom-right-radius: 30px; }

#signUpBox > ul > li:nth-child(7) { width: 270px; background-color: #ffcc02; text-align: center; margin-top: 40px; border-bottom: 0; }

#footBox { width: 100%; height: 150px; background-color: #003399; }
