@charset "UTF-8";
#contentBox { width: 100%; height: auto; }

#goToTop { width: 100px; height: auto; border-radius: 5px; padding: 5px; background-color: rgba(0, 51, 153, 0.9); position: fixed; right: -10px; bottom: 5%; z-index: 2000; }

#goToTop > ul { width: 100%; height: 100%; border: 1px solid #fff; box-sizing: border-box; }

#goToTop > ul > li { width: 100%; height: auto; margin: 0 auto; }

#goToTop > ul > li:first-child > button { font-size: 0.9rem; color: #fff; text-align: center; line-height: 0; }

#goToTop > ul > li:last-child { border-top: 2px solid #fff; box-sizing: border-box; }

#goToTop a { width: 100%; height: 100%; display: block; font-size: 1.7rem; color: #fff; text-align: center; line-height: 0; padding: 12px 0 12px 0; }

#goToTop a > p { font-size: 15px; }

#goToTop a:hover { background-color: #f26722; border-radius: 5psx; color: #fff; font-weight: 400; }

#searchBox { width: 100%; height: 400px; margin: 0 auto; margin-bottom: 300px; padding: 10% 0 0 0; box-sizing: border-box; background-image: url("../../img/ikea_outside_image/ikea_logo/ikea_background.jpg"); background-size: cover; background-repeat: no-repeat; background-position: center; }

.search_input { width: 60%; height: 60px; height: 9.375vw; min-height: 60px; margin: 0 auto; background-color: #fff; }

#popularityBox { width: 100%; height: auto; margin: 0 auto; margin-bottom: 300px; position: relative; }

#popularityBox > ul { width: 960px; height: auto; margin: 0 auto; }

#popularityBox > ul > li { width: 400px; height: 200px; float: left; border: 15px solid #eee; box-sizing: border-box; transition: all 700ms; font-size: 1.7rem; color: #444; text-align: left; line-height: 50px; font-weight: 700; }

#popularityBox > ul > li:hover { border: 15px solid #003399; }

#popularityBox > ul > li > a { width: 300px; height: 100px; display: block; padding: 40px; position: relative; }

#popularityBox > ul > li > a:hover { color: #444; box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3); }

#popularityBox > ul > li:nth-child(1) { margin-top: 80px; }

#popularityBox > ul > li:nth-child(2) { margin-top: 160px; margin-left: 120px; }

.popularity_product_image { width: 200px; height: 200px; position: absolute; top: -20%; right: -15%; z-index: 100; background-image: url("../../img/ikea_inside_image/product_kategorie/new_item/tvars.png"); background-size: 200px; background-repeat: no-repeat; background-position: center; }

.search_many_product_image { width: 200px; height: 300px; position: absolute; top: -60%; right: -14%; z-index: 100; background-image: url("../../img/ikea_inside_image/product_kategorie/popular_item/helmer.png"); background-size: 150px; background-repeat: no-repeat; background-position: center; }

#eventBox { width: 100%; height: auto; margin: 0 auto; margin-bottom: 300px; }

.event_list { width: 30%; height: 500px; min-height: 500px; height: 52.08333vw; background-color: #fff; float: left; position: relative; }

.event_text { width: 440px; height: 200px; padding: 20px 20px 20px 50px; box-sizing: border-box; font-size: 1.7rem; color: #444; text-align: right; line-height: 60px; font-weight: bold; background-color: #fff; position: absolute; top: 10%; right: -90px; }

.event_text > span { font-size: 70px; color: #f26722; }

.indicate { width: 140px; height: 20px; position: absolute; top: 18.75rem; right: 2rem; }

.indicate > ul { width: 100%; height: 100%; }

.indicate > ul > li { width: 20px; height: 20px; float: left; margin-left: 10px; border-radius: 10px; background-color: #003399; }

.indicate > ul > li:hover { background-color: #f26722; }

.indicate > ul > li:nth-child(1) { margin-left: 0; }

.event_image { width: 70%; height: 500px; min-height: 500px; height: 52.08333vw; float: right; background-image: url("../../img/ikea_inside_image/service_kategorie/home_furnishing/furnishing_01/01_PH144472.jpg"); background-size: cover; background-repeat: no-repeat; background-position: center; }

#imageBox01 { width: 100%; height: auto; margin: 0 auto; margin-bottom: 300px; }

#ikeaLogoImage { width: 270px; height: 100px; float: left; margin-left: 100px; /* padding-top:100px;*/ background-image: url("../../img/ikea_outside_image/ikea_logo/ikea_logo_vector.png"); background-size: 100%; background-repeat: no-repeat; background-position: center; }

.image_one { width: 90%; height: 456px; /* ie때문에 남김 px이랑 rem분리할때 따로 빼줄 것 */ height: 47.5vw; min-height: 456px; float: right; margin-right: -10%; position: relative; }

.image_one > .image_one_01 { transition: all 1000ms ease; }

.image_one > .image_one_02 { transition: all 1200ms ease; }

.image_one > .image_one_03 { transition: all 1200ms ease; }

.image_one > .image_one_04 { transition: all 1000ms ease; }

.image_one.scroll > .image_one_01 { transform: translate(340px, 500px); opacity: 0; }

.image_one.scroll > .image_one_02 { transform: translate(340px, 100px); opacity: 0; }

.image_one.scroll > .image_one_03 { transform: translate(340px, 200px); opacity: 0; }

.image_one.scroll > .image_one_04 { transform: translate(340px, 300px); opacity: 0; }

.image_one_01 { width: 50%; height: 150%; position: absolute; bottom: 0; left: 15%; z-index: 2000; /*background-color:#eaf;*/ background-image: url("../../img/ikea_inside_image/product_kategorie/home_office/PH141867ps_01.png"); background-size: 80%; background-repeat: no-repeat; background-position: center; }

.image_one_02 { width: 30%; height: 95%; position: absolute; bottom: 0; left: 40%; z-index: 2000; /*background-color:#aff;*/ background-image: url("../../img/ikea_inside_image/product_kategorie/home_office/PH141867ps_03.png"); background-size: 80%; background-repeat: no-repeat; background-position: center; }

.image_one_03 { width: 15%; height: 40%; position: absolute; top: -40%; right: 15%; z-index: 1000; /* background-color:#6ad;*/ background-image: url("../../img/ikea_inside_image/product_kategorie/home_office/PH141867ps_05.png"); background-size: 65%; background-repeat: no-repeat; background-position: center; }

.image_one_04 { width: 15%; height: 40%; position: absolute; top: 0%; right: 20%; z-index: 1000; /* background-color:#ede;*/ background-image: url("../../img/ikea_inside_image/product_kategorie/home_office/PH141867ps_04.png"); background-size: 65%; background-repeat: no-repeat; background-position: center; }

#offlineStoreBox { width: 960px; height: auto; margin: 0 auto; margin-bottom: 300px; }

#offlineStoreBox > ul { width: 49.5%; height: 100%; }

#offlineStoreBox > ul > li { width: 100%; height: 400px; height: 20.83333vw; min-height: 400px; }

#offlineStoreBox > ul > li a { width: 100%; height: 100%; display: block; font-size: 1.7rem; color: mainColor; text-align: left; line-height: 60px; padding: 15%; box-sizing: border-box; border: 20px solid #003399; transition: all 400ms; }

#offlineStoreBox > ul > li a:hover { background-color: #f26722; color: #fff; border-color: #f26722; }

#offlineStoreBox > ul > li span { font-size: 0.9rem; color: mainColor; text-align: center; line-height: 0; }

.store_one { float: left; }

.store_two { float: right; }

#offlineStoreBox > .store_one > li:nth-child(1) { width: 220px; height: 220px; height: 11.45833vw; min-height: 220px; margin-left: 53%; margin-bottom: 2%; }

#offlineStoreBox > .store_one > li:nth-child(2) { height: 580px; height: 30.20833vw; min-height: 580px; }

#offlineStoreBox > .store_two > li:nth-child(1) { margin-bottom: 2%; }

#imageBox02 { width: 100%; height: auto; margin: 0 auto; margin-bottom: 300px; padding: 5%; box-sizing: border-box; }

#ikeaLogoImage2 { width: 270px; height: 100px; float: right; margin-right: 10%; background-image: url("../../img/ikea_outside_image/ikea_logo/ikea_logo_vector.png"); background-size: 100%; background-repeat: no-repeat; background-position: center; }

.image_two { width: 40%; height: 500px; float: left; margin-left: 5%; margin-top: 10%; background-color: #ffcc02; }

.image_two > .image_two_01 { width: 150%; height: 130%; margin: 0 auto; position: relative; top: -25%; right: 10%; background-image: url("../../img/ikea_inside_image/product_kategorie/popular_item/lerberg.png"); background-size: 35%; background-repeat: no-repeat; background-position: center; }

#homeFurnishingServiceBox { width: 960px; height: auto; margin: 0 auto; margin-bottom: 300px; }

.homefurnishing { width: 100%; height: 300px; margin-bottom: 20px; }

.homefurnishing:after { content: " "; width: 80%; height: 10px; border-bottom: 2px solid #777; margin: 0 auto; }

.planing { width: 100%; height: 300px; }

.homefurnishing_title { width: 620px; height: inherit; float: left; padding: 100px 50px; box-sizing: border-box; }

.homefurnishing_title > h4 { font-size: 1.7rem; color: #444; text-align: center; line-height: 40px; margin-bottom: 20px; }

.homefurnishing_title > p { font-size: 0.9rem; color: #444; text-align: center; line-height: 0; }

.homefurnishing_img { width: 300px; height: 300px; float: right; border-radius: 150px; background-color: #eff; position: relative; }

.homefurnishing_img > a { width: 100%; height: 100%; display: block; border-radius: 150px; transition: all 300ms ease-in; font-size: 1.7rem; color: transparent; text-align: center; line-height: 310px; font-weight: bold; }

.homefurnishing_img > a:hover { background-color: rgba(0, 0, 0, 0.7); font-size: 2rem; color: #fff; }

.one { background-image: url("../../img/ikea_inside_image/service_kategorie/home_furnishing/furnishing_05/05_PH147252.jpg"); background-size: 100%; background-repeat: no-repeat; background-position: center; }

.two { background-image: url("../../img/ikea_inside_image/service_kategorie/home_furnishing/furnishing_05/05_PH147257.jpg"); background-size: 100%; background-repeat: no-repeat; background-position: center; }

#membershipBox { width: 100%; height: auto; margin: 0 auto; margin-bottom: 300px; position: relative; }

.membership_image { width: 100%; height: 500px; height: 52.08333vw; min-height: 500px; background-image: url("../../img/ikea_inside_image/service_kategorie/home_furnishing/furnishing_03/03_PH145001.jpg"); background-size: 100%; background-repeat: no-repeat; background-position: center; }

.membership_text { width: 40%; height: 500px; height: 52.08333vw; min-height: 500px; position: absolute; bottom: 0; left: 0; background-color: #f26722; }

#subServiceBox { width: 100%; height: auto; margin: 0 auto; margin-bottom: 300px; }

#subServiceBox > ul { width: 650px; height: 200px; margin: 0 auto; margin-bottom: 20px; }

#subServiceBox > ul > li { width: 200px; height: 200px; border-radius: 150px; float: left; margin-left: 20px; background-color: #003399; transition: all 300ms ease-in; }

#subServiceBox > ul > li:nth-child(1) { margin-left: 0; }

.service_01 > li:nth-child(1) { background-image: url("../../img/icon_image/ai_white/assembly.png"); background-size: 100px; background-repeat: no-repeat; background-position: center 20px; }

.service_01 > li:nth-child(2) { background-image: url("../../img/icon_image/ai_white/install.png"); background-size: 100px; background-repeat: no-repeat; background-position: center 20px; }

.service_01 > li:nth-child(3) { background-image: url("../../img/icon_image/ai_white/pickup.png"); background-size: 100px; background-repeat: no-repeat; background-position: center 20px; }

.service_02 > li:nth-child(1) { background-image: url("../../img/icon_image/ai_white/inven_check.png"); background-size: 100px; background-repeat: no-repeat; background-position: center 20px; }

.service_02 > li:nth-child(2) { background-image: url("../../img/icon_image/ai_white/payment_options.png"); background-size: 100px; background-repeat: no-repeat; background-position: center 20px; }

.service_02 > li:nth-child(3) { background-image: url("../../img/icon_image/ai_white/gift_card.png"); background-size: 100px; background-repeat: no-repeat; background-position: center 20px; }

#subServiceBox > ul > li:hover { border-radius: 10px; transition: 600ms; background-color: #f26722; }

#subServiceBox > ul > li > a { display: block; width: 100%; height: 100%; font-size: 0.9rem; color: #fff; text-align: center; line-height: 30px; padding: 140px 30px 30px 30px; box-sizing: border-box; }
