#contentBox { width: 100%; height: auto; }

#searchBox { width: 100%; height: 310px; margin-bottom: 100px; padding: 50px; box-sizing: border-box; background-image: url("../../img/ikea_outside_image/ikea_background.jpg"); background-size: 100%; background-repeat: no-repeat; background-position: center; }

.search_input { width: 850px; height: 120px; background-color: #fff; }

#customerSupportCenterBox { width: 100%; height: auto; margin-bottom: 350px; }

#customerSupportCenterBox > ul { width: 720px; height: auto; margin: 0 auto; }

#customerSupportCenterBox > ul > li { width: 220px; height: 110px; border: 4px solid #003399; border-radius: 50px; box-sizing: border-box; background-color: rgba(255, 255, 255, 0.8); font-size: 1.7rem; color: transparent; text-align: center; line-height: 100px; float: left; margin-left: 20px; margin-bottom: 20px; }

#customerSupportCenterBox > ul > li:hover { background-color: #003399; }

#customerSupportCenterBox > ul > li > a { width: 100%; height: 100%; display: block; }

#customerSupportCenterBox > ul > li > a:hover { color: #fff; }

#noticeBox { width: 100%; height: auto; margin-bottom: 350px; position: relative; }

.notice_image { width: 100%; height: 500px; background-color: #ffa; position: relative; background-image: url("../../img/ikea_inside_image/product_kategorie/bath_room/20174_coba01a_01_PH141944.jpg"); background-size: 100%; background-repeat: no-repeat; background-position: center; }

.notice_image:before { content: " "; width: 70%; border-top: 4px solid #003399; position: absolute; top: -20px; right: 0; }

.notice_image:after { content: " "; width: 70%; border-top: 4px solid #003399; position: absolute; bottom: -20px; left: 0; }

.notice_list { width: 260px; height: 500px; padding: 220px 0 20px 50px; box-sizing: border-box; position: absolute; bottom: 0; right: 0; }

.notice_list > ul { width: 100%; height: 100%; }

.notice_list > ul > li { width: 200px; height: 100px; border: 4px solid #003399; border-radius: 50px; box-sizing: border-box; background-color: rgba(255, 255, 255, 0.8); font-size: 1.7rem; color: #171717; text-align: center; line-height: 100px; font-weight: bold; margin-bottom: 50px; }

.notice_list > ul > li:hover { background-color: #003399; }

.notice_list > ul > li > a { width: 100%; height: 100%; display: block; }

.notice_list > ul > li > a:hover { color: #fff; }

#productInfoBox { width: 100%; height: auto; margin-bottom: 350px; }

#productInfoBox ul { width: 100%; height: 100%; padding: 40px 20px; box-sizing: border-box; }

#productInfoBox ul > li { width: 100%; height: 50px; margin-bottom: 20px; font-size: 1.7rem; color: #171717; text-align: center; line-height: 50px; font-weight: bold; }

#productInfoBox a { width: 100%; height: 100%; display: block; }

#productInfoBox a:hover { border: 4px solid #171717; color: #171717; }

.product_information { width: 100%; height: auto; margin-bottom: 20px; }

.product_service_check { width: 100%; height: auto; }

.info_box_image { width: 670px; height: 400px; float: left; margin-right: 20px; background-image: url("../../img/ikea_inside_image/service_kategorie/home_furnishing/furnishing_14/14_PH128832.jpg"); background-size: 100%; background-repeat: no-repeat; background-position: center; }

.info_box_text { width: 270px; height: 400px; float: left; }

.info_box_image_2 { width: 670px; height: 400px; float: right; margin-left: 20px; background-image: url("../../img/ikea_inside_image/service_kategorie/home_furnishing/furnishing_13/13_PH134265.jpg"); background-size: 100%; background-repeat: no-repeat; background-position: bottom; }

.info_box_text_2 { width: 270px; height: 400px; float: right; }

#offlineStoreInfoeBox { width: 100%; height: auto; margin-bottom: 350px; }

.store_image { width: 670px; height: 400px; float: left; margin-right: 20px; background-color: #003399; background-image: url("../../img/ikea_outside_image/ikea_building_03.png"); background-size: 100%; background-repeat: no-repeat; background-position: center; }

.store_list { width: 270px; height: 400px; float: left; }

.store_list > ul { width: 100%; height: 100%; padding: 130px 0 0 0; box-sizing: border-box; }

.store_list > ul > li { width: 270px; height: 100px; margin-bottom: 50px; background-color: #ffcc02; border-top: 5px solid #003399; border-bottom: 5px solid #003399; font-size: 1.7rem; color: #003399; text-align: center; line-height: 100px; font-weight: bold; position: relative; transition: all 600ms ease; float: right; }

.store_list > ul > li:hover { width: 370px; }

.store_list > ul > li > a { width: 100%; height: 100%; display: block; }

.store_list > ul > li > a:hover { color: #003399; }

#imageBox { width: 100%; height: auto; margin-bottom: 350px; }

#ikeaLogoImage { width: 270px; height: 100px; float: right; background-image: url("../../img/ikea_outside_image/ikea_logo_vector.png"); background-size: 100%; background-repeat: no-repeat; background-position: center; }

.image { width: 100%; height: 456px; float: right; border-bottom: 10px solid #003399; box-sizing: border-box; background-image: url("../../img/ikea_inside_image/product_kategorie/home_office/PH141825ps.png"); background-size: 100%; background-repeat: no-repeat; background-position: center; }

#ikeaCompanyIntroductionBox { width: 100%; height: auto; margin-bottom: 350px; }

.ikeaCompany_text { width: 470px; height: 500px; float: left; margin-right: 20px; background-color: #003399; }

.ikeaCompany_image { width: 470px; height: 500px; float: left; background-color: #fff; }

.ikeaCompany_image > ul { width: 100%; height: 100%; }

.logo_box { width: 250px; height: 120px; margin-bottom: 80px; background-color: #003399; background-image: url("../../img/ikea_outside_image/ikea_logo_vector.png"); background-size: 200px; background-repeat: no-repeat; background-position: center; }

.image_box { width: 100%; height: 300px; background-color: #003399; background-image: url("../../img/ikea_outside_image/ikea_workplaces.png"); background-size: 600px; background-repeat: no-repeat; background-position: center; }
