@import "../_setting/_base.scss";
@import "../_setting/_mixin.scss";



#goToTop{width:100px; height:auto; border-radius:5px; padding:5px; background-color:rgba(0,51,153,0.9); 
  position:fixed; right:-10px; bottom:5%; z-index:2000; }

#goToTop>ul{width:100%; height:100%; 
  border:1px solid $whiteColor; box-sizing:border-box; }
#goToTop>ul>li{width:100%; height:auto;  margin:0 auto;}

#goToTop>ul>li:first-child>button{@include fontSet_InfoText;}
#goToTop>ul>li:last-child{border-top:2px solid $whiteColor; box-sizing:border-box;}

#goToTop a{width:100%; height:100%; display:block; @include fontSet_SubTitle;  padding:12px 0 12px 0;
    &>p{font-size:15px;}
    &:hover{background-color:$pointColor; border-radius:5psx; color:$whiteColor; font-weight:400;}
    
  }


// #searchBox____________________________________________________________________
  #searchBox{@include contentBox($h:300px, $mb:100px); 
            @include paddingAndBoxsizing($p:150px 50px 50px 50px );
            @include backgroundImage($f:"ikea_outside_image/ikea_background.jpg"); }
    .search_input{width:850px; height:120px; margin: 0 auto; background-color:$whiteColor;}

