// #searchBox____________________________________________________________________
  #searchBox{width:100%; height:310px; margin-bottom:100px; 
            @include paddingAndBoxsizing($p:50px);
            @include backgroundImage($f:"ikea_outside_image/ikea_background.jpg"); }
    .search_input{width:850px; height:120px; background-color:$whiteColor;}

