@import "../_setting/_base.scss";
@import "../_setting/_mixin.scss";

#wrap{width: 960px; height:auto; margin:0 auto;}

h3{width:500px; height:50px;  margin:0 auto; margin-bottom:40px; 
   color:$blackColor; font-size:2rem; line-height:50px; text-align:center;}
h3:before{content:" | "; color:$mainColor; font-weight:bold;}
h3:after{content:" | "; color:$mainColor; font-weight:bold;}
// class이름 만들어서 따로 적용 추가할것 
// h3.nobar{}
h3.nobar:before{display: none;}
h3.nobar:after{display:none;}


// #headBox++++++++++++++++++++++++++++++++++++++++++++++++++++++++
#headBox{width: 100%; height:60px; 
        @include paddingAndBoxsizing(); background-color:$mainColor;}
  h1{width:100px; height:100%; margin-right:20px;  float:left;
      @include backgroundImage($f:"ikea_outside_image/ikea_logo_vector.png", $s:101px);}
  #gnb{width:800px; height:100%; float:left;}
  #gnb>ul{width:100%; height:100%;}
  #gnb>ul>li{height:100%; float:left; margin-left:10px;
            @include fontSet_Gnb($lh:50px);
      a{width:100%; height:100%; display:block;}
    }// #gnb>ul>li
  #gnb>ul>li:nth-child(1){width:90px;}
  #gnb>ul>li:nth-child(2){width:90px;}
  #gnb>ul>li:nth-child(3){width:110px;}
  #gnb>ul>li:nth-child(4){width:140px;}
  #gnb>ul>li:nth-child(5){width:90px;}
  #gnb>ul>li:nth-child(6){width:30px; float:right; font-size:2rem;}
  