@import "../_setting/_base.scss";
@import "../_setting/_mixin.scss";


// #contentBox++++++++++++++++++++++++++++++++++++++++++++++++++++++++
#contentBox{width:100%; height:auto;}

@import "../layout/content_overlap_search.scss";

// #popularityBox____________________________________________________________________
  #popularityBox{@include contentBox; position:relative;}
    // h3{@include h3_Style; }
    #popularityBox>ul{width:960px; height:auto; margin:0 auto;}
    #popularityBox>ul>li{width:400px; height:200px; float:left; border:15px solid #eee; 
                        box-sizing:border-box; transition:all 700ms;
                        @include fontSet_SubTitle($c:$blackColor, $ta:left, $lh:50px); font-weight:700;
        &:hover{border:15px solid $mainColor;}

        &>a{width:300px; height:100px; display:block; padding:40px; position:relative;}
        &>a:hover{color:$blackColor; 
                  box-shadow: 20px 20px 20px rgba(000,000,000,0.3);}
    }// #popularityBox>ul>li

    #popularityBox>ul>li:nth-child(1){margin-top: 80px;}
    #popularityBox>ul>li:nth-child(2){margin-top: 160px; margin-left:120px;} 


      .popularity_product_image{width:200px; height:200px;
          position:absolute; top:-20%; right:-15%; z-index:100;
          @include backgroundImage($f:"ikea_inside_image/product_kategorie/new_item/tvars.png", $s:200px);}
      .search_many_product_image{width:200px; height:300px;
          position:absolute; top:-60%; right:-14%; z-index:100;
          @include backgroundImage($f:"ikea_inside_image/product_kategorie/popular_item/helmer.png", $s:150px);}


// #eventBox____________________________________________________________________
  #eventBox{@include contentBox;}
    // h3{@include h3_Style; }
    .event_list{width:30%; height:500px; min-height:500px; 
      height:(500 / 960 * 100) + vw;
      background-color:$whiteColor; float:left; position:relative;}
      .event_text{
         width:440px; height:200px;
          @include paddingAndBoxsizing($p:20px 20px 20px 50px);
          @include fontSet_SubTitle($ta:right, $c:$blackColor, $lh:60px); 
          font-weight:bold; background-color:$whiteColor;
          position:absolute; top:10%; right:-90px;
        &>span{font-size:70px; color:$pointColor;}
      }//.event_text
      
      .indicate{width:140px; height:20px; position: absolute; top:( 300 / 16 )+ rem; right:2rem;}//.indicate
        .indicate>ul{width:100%; height:100%;}
        .indicate>ul>li{width:20px; height:20px; float:left; margin-left:10px; 
            border-radius:10px; background-color:$mainColor;
          
            &:hover{background-color:$pointColor;}
          }//.indicate>ul>li

        .indicate>ul>li:nth-child(1){margin-left:0;}


    .event_image{width:70%; height:500px; min-height:500px; height:(500 / 960 * 100) + vw; float:right;
                @include backgroundImage($f:"ikea_inside_image/service_kategorie/home_furnishing/furnishing_01/01_PH144472.jpg", $s:cover);}


// #imageBox01____________________________________________________________________
  #imageBox01{@include contentBox;  }
      #ikeaLogoImage{width:270px; height:100px; float:left; margin-left:100px; /* padding-top:100px;*/
            @include backgroundImage($f:"ikea_outside_image/ikea_logo_vector.png");

          }
      .image_one{width:90%; height:456px; /* ie때문에 남김 px이랑 rem분리할때 따로 빼줄 것 */ 
                height:(456 / 960 * 100) + vw;  min-height:456px;  
                float:right; margin-right:-10%;  position:relative;}

      .image_one_01{width:50%; height:150%; position:absolute; bottom:0; left:15%; z-index:2000;/*background-color:#eaf;*/
        @include backgroundImage($f:"ikea_inside_image/product_kategorie/home_office/PH141867ps_01.png", $s:80%);}
      .image_one_02{width:30%; height:95%; position:absolute; bottom:0; left:40%; z-index:2000;/*background-color:#aff;*/
        @include backgroundImage($f:"ikea_inside_image/product_kategorie/home_office/PH141867ps_03.png", $s:80%);}
      .image_one_03{width:15%; height:40%; position:absolute; top:-40%; right:15%; z-index:1000; /* background-color:#6ad;*/
        @include backgroundImage($f:"ikea_inside_image/product_kategorie/home_office/PH141867ps_05.png", $s:65%);}
      .image_one_04{width:15%; height:40%; position:absolute; top:0%; right:20%; z-index:1000; /* background-color:#ede;*/
        @include backgroundImage($f:"ikea_inside_image/product_kategorie/home_office/PH141867ps_04.png", $s:65%);}


// transtorm : 0.8s infineie alternate lenear

// #offlineStoreBox____________________________________________________________________
  #offlineStoreBox{@include contentBox($w:960px); }

    #offlineStoreBox>ul{width:49.5%; height:100%;}
    #offlineStoreBox>ul>li{width:100%; height:400px; height:(400 / 960 * 50)+vw; min-height:400px; 
     & a{width:100%; height:100%; display:block; 
        @include fontSet_SubTitle($c:mainColor, $ta:left, $lh:60px);
        @include paddingAndBoxsizing(15%); 
        border:20px solid $mainColor; transition:all 400ms;}//& a

     & a:hover{background-color:$pointColor/*rgba(242,103,34,0.9)*/; color:$whiteColor; border-color:$pointColor;}//a:hover
     & span{@include fontSet_InfoText($c:mainColor, $lh:0);}
      }//#offlineStoreBox>ul>li
       
      .store_one{float:left;}
      .store_two{float:right;}

      #offlineStoreBox>.store_one>li:nth-child(1){
        width:220px; height:220px; height:(220 / 960 * 50)+vw; min-height:220px; 
        margin-left:53%; margin-bottom:2%;}
      #offlineStoreBox>.store_one>li:nth-child(2){height:580px; height:(580 / 960 * 50)+vw; min-height:580px;}

      #offlineStoreBox>.store_two>li:nth-child(1){margin-bottom:2%;}



// #imageBox02____________________________________________________________________
  #imageBox02{@include contentBox;}
    #ikeaLogoImage2{width:270px; height:100px; float:left; margin-left:10%;
      @include backgroundImage($f:"ikea_outside_image/ikea_logo_vector.png");}
    
    .image_two{width:90%; height:650px; /* ie때문에 남김 px이랑 rem분리할때 따로 빼줄 것 */ 
     float:right; margin-right:-10%;
      @include backgroundImage($f:"ikea_inside_image/product_kategorie/popular_item/helmer.png", $s:350px);}



// #homeFurnishingServiceBox____________________________________________________________________
  #homeFurnishingServiceBox{@include contentBox($w:960px);}
    .homefurnishing{width:100%; height:300px; margin-bottom:20px;}
    .homefurnishing:after{content:" "; width:80%; height:10px; border-bottom:2px solid #777; margin:0 auto;}
    .planing{width:100%; height:300px;}
      .homefurnishing_title{width:620px; height:inherit; float:left; @include paddingAndBoxsizing($p:100px 50px);}
        
        .homefurnishing_title>h4{@include fontSet_SubTitle($c:$blackColor, $lh:40px); margin-bottom:20px;}
        .homefurnishing_title>p{@include fontSet_InfoText($c:$blackColor,$ta:center, $lh:0); }
      
      .homefurnishing_img{width:300px; height:300px; float:right; border-radius:150px; background-color:#eff; position:relative;

          &>a{width:100%; height:100%; display: block; border-radius:150px; transition:all 300ms ease-in;
              @include fontSet_SubTitle($c:transparent, $lh:310px); font-weight:bold;}// &>a
          &>a:hover{background-color:rgba(000, 000, 000, 0.7); font-size:2rem; color:$whiteColor;}//&>a:hover
        } // .homefurnishing_img   
        
      .one{@include backgroundImage($f:"ikea_inside_image/service_kategorie/home_furnishing/furnishing_05/05_PH147252.jpg");}
      .two{@include backgroundImage($f:"ikea_inside_image/service_kategorie/home_furnishing/furnishing_05/05_PH147257.jpg");}


// #membershipBox____________________________________________________________________
  #membershipBox{@include contentBox; position:relative;}
    // h3{@include h3_Style; }
    .membership_image{width:100%; height:500px; height:(500 / 960 * 100)+vw; 
            min-height:500px;
            @include backgroundImage($f:"ikea_inside_image/service_kategorie/home_furnishing/furnishing_03/03_PH145001.jpg");}
    .membership_text{width:40%; height:500px;
            height:(500 / 960 * 100)+vw; min-height:500px;
            position:absolute; bottom:0; left:0; background-color:$pointColor;}








// #subServiceBox____________________________________________________________________
  #subServiceBox{@include contentBox;}
    // h3{@include h3_Style; }
    #subServiceBox>ul{width:650px; height:200px; margin:0 auto; margin-bottom:20px;} 
    #subServiceBox>ul>li{width:200px; height:200px; border-radius:150px; float:left; margin-left:20px; background-color:$mainColor;
                        transition:all 300ms ease-in;}
      #subServiceBox>ul>li:nth-child(1){margin-left:0;}

      .service_01>li:nth-child(1){@include backgroundImage($f:"icon_image/ai_white/assembly.png", $p:center 20px, $s:100px);}
      .service_01>li:nth-child(2){@include backgroundImage($f:"icon_image/ai_white/install.png", $p:center 20px, $s:100px);}
      .service_01>li:nth-child(3){@include backgroundImage($f:"icon_image/ai_white/pickup.png", $p:center 20px, $s:100px);}
      
      
      .service_02>li:nth-child(1){@include backgroundImage($f:"icon_image/ai_white/inven_check.png", $p:center 20px, $s:100px);}
      .service_02>li:nth-child(2){@include backgroundImage($f:"icon_image/ai_white/payment_options.png", $p:center 20px, $s:100px);}
      .service_02>li:nth-child(3){@include backgroundImage($f:"icon_image/ai_white/gift_card.png", $p:center 20px, $s:100px);}

      
      #subServiceBox>ul>li:hover{border-radius:10px; transition:600ms; background-color:$pointColor;}
    #subServiceBox>ul>li> a{display:block; width:100%; height:100%; 
          @include fontSet_InfoText($c:$whiteColor, $lh:30px);
          @include paddingAndBoxsizing(140px 30px 30px 30px);}












