@import "../_setting/_base.scss";
@import "../_setting/_mixin.scss";


// #contentBox++++++++++++++++++++++++++++++++++++++++++++++++++++++++
#contentBox{width: 100%; height:auto;}

  

@import "../layout/content_overlap_search.scss";



// #furnishingIdeaService___________________________________________________________
#furnishingIdeaService{@include contentBox;}
.furnishingIdeaImage{width:65%;  height:450px; height:(450 / 960 * 100)+vw; min-height:450px; float:left;
  @include backgroundImage($f:"ikea_inside_image/service_kategorie/home_furnishing/furnishing_10/10_PH136649.jpg", $s:cover);
  }//#furnishingIdeaService

.furnishingList{width:35%;  height:450px; height:(450 / 960 * 100)+vw; min-height:450px; float:left; background-color:$mainColor;}
  .furnishing_content{width:100%;  height:88%; float:left;  @include paddingAndBoxsizing($p:10%);}
  
  .furnishing_button_ul{width:100%; height:12%;}
    .furnishing_button_ul>li{width:49.8%; height:100%;
      &>button{width:100%; height:100%; background-color:rgba(50,50,50,0.6); font-size:3rem; color:rgba(255,255,255,0.2); line-height:100%;}
      &>button:hover{color:$whiteColor;}
    }//.furnishing_button_ul>li
    .furnishing_button_ul>li:nth-child(1){float:left;}
    .furnishing_button_ul>li:nth-child(2){float:right;}





// #planningService___________________________________________________________
#planningService{@include contentBox;}
#planningService>ul{width:100%; height:auto;}
#planningService>ul>li{width:32.3%; height:280px; height:(280 / 960 * 100 )+vw; min-height:280px; 
    float:left; color:transparent;
        &>a{width:100%; height:100%; display:block; @include paddingAndBoxsizing($p:25%);
            @include fontSet_SubTitle($c:transparant);}//a
        &>a:hover{background-color:rgba(000,000,000,0.8); color:$whiteColor;}
}//#planningService>ul>li

  #planningService>ul>li:nth-child(1){width:49%; margin-bottom:20px;
        @include backgroundImage($f:"ikea_inside_image/product_kategorie/bath_room/20174_coba01a_01_PH141944.jpg", $s:cover);
        
    }//#planningService>ul>li:nth-child(1)

  #planningService>ul>li:nth-child(2){width:49%; margin-bottom:20px; float:right;
        @include backgroundImage($f:"ikea_inside_image/product_kategorie/riving_room/PH145986.jpg");}//#planningService>ul>li:nth-child(2)

  #planningService>ul>li:nth-child(3){
        @include backgroundImage($f:"ikea_inside_image/service_kategorie/home_furnishing/furnishing_01/01_PH144462.jpg");}//#planningService>ul>li:nth-child(3)

  #planningService>ul>li:nth-child(4){margin-left:1.5%;
        @include backgroundImage($f:"ikea_inside_image/service_kategorie/home_furnishing/furnishing_07/07_PH146686.jpg");}//#planningService>ul>li:nth-child(4)

  #planningService>ul>li:nth-child(5){float:right;margin-left:1.5%;
        @include backgroundImage($f:"ikea_inside_image/service_kategorie/home_furnishing/furnishing_01/01_PH144463.jpg");}//#planningService>ul>li:nth-child(5)
