@import "../_setting/_base.scss";
@import "../_setting/_mixin.scss";


// #contentBox++++++++++++++++++++++++++++++++++++++++++++++++++++++++
#contentBox{width: 100%; height:auto;}

  

@import "../layout/content_overlap_search.scss";



// #newItemBox___________________________________________
#newItemBox{@include contentBox;}
  // #newItemBox>ul{width:100%; height:100%;}        
  // #newItemBox>ul>li{width:306px; height:150px; margin-left:20px; margin-bottom:20px; float:left; }
    // @include link($f:"ikea_inside_image/service_kategorie/home_furnishing/furnishing_06/06_PH146672.jpg", $s:960px);
   // #newItemBox>ul>li       

  #newItemBox>.new_item_list_01{width:960px; height:auto; margin:0 auto;}
  #newItemBox>.new_item_list_01>li{width:306px; height:150px; height:(150 / 960 * 80)+vw; min-height:150px;
     margin-left:20px; margin-bottom:20px; float:left;}
      #newItemBox>.new_item_list_01>li:nth-child(1){margin-left:0;
      @include link($f:"ikea_inside_image/service_kategorie/home_furnishing/furnishing_06/06_PH146672.jpg", $s:500%, $p:left 13%);
        &:hover{@include link($f:"ikea_inside_image/product_kategorie/new_item/fado.png", $s:240px);}
      }// #newItemBox>ul>li:nth-child(1)  
      #newItemBox>.new_item_list_01>li:nth-child(2){
      @include link($f:"ikea_inside_image/service_kategorie/home_furnishing/furnishing_06/06_PH146672.jpg", $s:500%, $p:55% 15%);
        &:hover{@include link($f:"ikea_inside_image/product_kategorie/new_item/odger.png", $s:120px, $p:top center);}
      }//#newItemBox>ul>li:nth-child(2)        
      #newItemBox>.new_item_list_01>li:nth-child(3){
      @include link($f:"ikea_inside_image/service_kategorie/home_furnishing/furnishing_06/06_PH146672.jpg", $s:500%, $p:80% 14%);
        &:hover{@include link($f:"ikea_inside_image/product_kategorie/new_item/slakt-cimdaepeureim.png", $s:260px);}
      }//#newItemBox>ul>li:nth-child(3)        
      

  .new_item_list_02{width:100%; height:auto; }
      .new_item_list_02>li{width:100%; height:250px; margin-left:0;
      @include link($f:"ikea_inside_image/service_kategorie/home_furnishing/furnishing_06/06_PH146672.jpg", $s:cover);
        &:hover{@include link($f:"ikea_inside_image/product_kategorie/new_item/strandmon.png", $s:240px, $p:top center);}
        }//#newItemBox>ul>li:nth-child(4)        
     

 #newItemBox>.new_item_list_03{width:960px; height:auto; margin:0 auto;}
     #newItemBox>.new_item_list_03>li{width:306px; height:150px; height:(150 / 960 * 80)+vw; min-height:150px;
       margin-left:20px; margin-top:20px; float:left;}
     #newItemBox>.new_item_list_03>li:nth-child(1){margin-left:0; 
      @include link($f:"ikea_inside_image/service_kategorie/home_furnishing/furnishing_06/06_PH146672.jpg", $s:960px, $p:bottom left);
        &:hover{@include link($f:"ikea_inside_image/product_kategorie/new_item/tvars.png", $s:200px);}
      }//#newItemBox>ul>li:nth-child(5)        
     #newItemBox>.new_item_list_03>li:nth-child(2){
      @include link($f:"ikea_inside_image/service_kategorie/home_furnishing/furnishing_06/06_PH146672.jpg", $s:500%, $p:center -2%);
        &:hover{@include link($f:"ikea_inside_image/product_kategorie/new_item/vangsta.png", $s:200px, $p:top center);}
      }//#newItemBox>ul>li:nth-child(6)        
     #newItemBox>.new_item_list_03>li:nth-child(3){
      @include link($f:"ikea_inside_image/service_kategorie/home_furnishing/furnishing_06/06_PH146672.jpg", $s:960px, $p:bottom right);
        &:hover{@include link($f:"ikea_inside_image/product_kategorie/new_item/slakt.png", $s:240px);}
      }//#newItemBox>ul>li:nth-child(7)        




// #imageBox01____________________________________________________________________
  #imageBox01{@include contentBox;}
      #ikeaLogoImage{width:270px; height:100px; float:right; margin-right:100px;
            @include backgroundImage($f:"ikea_outside_image/ikea_logo_vector.png");}
      
      .image_one{width:80%; height:400px; /* ie때문에 남김 px이랑 rem분리할때 따로 빼줄 것 */   
        height:(400 / 960 * 100) + vw;  min-height:400px; float:left; margin-left:1%;
        @include backgroundImage($f:"ikea_inside_image/product_kategorie/riving_room/layer_6_copy.png",  $p:left);}



// #useTypeCategorizationBox___________________________________________
#useTypeCategorizationBox{@include contentBox($mb:100px);}
  #useTypeCategorizationBox>.use_type_image{width:100%; height:500px;  height:(500 / 960 *100)+vw; min-height:500px;
    @include backgroundImage($f:"ikea_inside_image/service_kategorie/home_furnishing/furnishing_07/07_PH146689.jpg", $p:center 90%);}  


// #useTypeSubBox___________________________________________
#useTypeSubBox{@include contentBox(960px);}
  #useTypeSubBox>ul{width:100%; height:100%; margin:0 auto; }        
  #useTypeSubBox>ul>li{width:23%; height:230px; float:left; margin-left:2.6%; border-radius:50%; 
    background-color:$subColor;
  &:hover{background-color:$pointColor;}
}             
    
    #useTypeSubBox>ul>li:nth-child(1){margin-left:0; 
  @include link($f:"ikea_inside_image/product_kategorie/popular_item/pello.png", $s:200px);}
  
  #useTypeSubBox>ul>li:nth-child(2){
  @include link($f:"ikea_inside_image/product_kategorie/popular_item/friheten.png",$s:240px, $p:-15px 54px);}
 
 #useTypeSubBox>ul>li:nth-child(3){
  @include link($f:"ikea_inside_image/product_kategorie/popular_item/kura.png", $p:center 54px);}
  
  #useTypeSubBox>ul>li:nth-child(4){
  @include link($f:"ikea_inside_image/product_kategorie/popular_item/helmer.png", $s:130px);}
 


// #imageBox02____________________________________________________________________
  #imageBox02{@include contentBox;}
      #ikeaLogoImage2{width:270px; height:100px; float:right; margin-right:100px;
            @include backgroundImage($f:"ikea_outside_image/ikea_logo_vector.png");}
      .image_two{width:90%; height:456px; /* ie때문에 남김 px이랑 rem분리할때 따로 빼줄 것 */   height:(456 / 960 * 100) + vw;  min-height:456px; float:left; margin-left:-10%;
        @include backgroundImage($f:"ikea_inside_image/product_kategorie/kid_room/PH145465ps_02.png");}


// #roomTypeCategorizationBox___________________________________________
#roomTypeCategorizationBox{@include contentBox;}
  .big_size_image{width:49%; height:440px; height:(440 / 960 * 100)+vw; min-height:440px; 
    float:left; border-top-left-radius:70px;
    @include backgroundImage($f:"ikea_inside_image/product_kategorie/kid_room/PH145465ps_03.png", $s:cover);}

  .small_size_image{width:49%; height:440px; height:(440 / 960 * 100)+vw; min-height:440px; 
    float:right; }
  .small_size_image>ul{width:100%; height:100%; @include paddingAndBoxsizing($p:30% 0 0 0);}
  .small_size_image>ul>li{width:49%; height:146px; height:(146 / 960 *100)+vw; min-height:146px; float:left;}
  
  .small_size_image>ul>li:nth-child(1){float:left; 
                @include backgroundImage($f:"ikea_inside_image/service_kategorie/home_furnishing/furnishing_01/01_PH144469.jpg");}
  .small_size_image>ul>li:nth-child(2){ float:right;
                @include backgroundImage($f:"ikea_inside_image/service_kategorie/home_furnishing/furnishing_06/06_PH146617.jpg");}
  
  .small_size_image>ul>li:nth-child(3){float:left;  margin-top:2%;
                @include backgroundImage($f:"ikea_inside_image/service_kategorie/home_furnishing/furnishing_06/06_PH146661.jpg");}
  .small_size_image>ul>li:nth-child(4){margin-top:2%; border-bottom-right-radius:70px; float:right;
                @include backgroundImage($f:"ikea_inside_image/service_kategorie/home_furnishing/furnishing_08/08_PH145519.jpg");}


// #roomTypeSubBox___________________________________________
#roomTypeSubBox{@include contentBox($w:960px);}
  #roomTypeSubBox>ul{width:100%; height:100%;}        
  #roomTypeSubBox>ul>li{width:224px; height:224px; float:left; margin-left:20px;
    &>a{border-radius:50px;}
    &>a:hover{border-radius:0; background-color:rgba(000, 000, 000, 0.7);}
  }        

  #roomTypeSubBox>ul>li:nth-child(1){margin-left:0;
  @include link($f:"ikea_inside_image/product_kategorie/home_office/PH142025_01.png", $s:300px);}
  
  #roomTypeSubBox>ul>li:nth-child(2){
  @include link($f:"ikea_inside_image/product_kategorie/bath_room/20163_coba04a_01_PH132603.jpg", $s:224px);}        
 
 #roomTypeSubBox>ul>li:nth-child(3){
  @include link($f:"ikea_inside_image/product_kategorie/bed_room/20172_cobh01a_01_PH138771.jpg", $s:360px);}        
  
  #roomTypeSubBox>ul>li:nth-child(4){
  @include link($f:"ikea_inside_image/product_kategorie/dining_room/20164_codi01a_01_PH133769.jpg", $s:224px);}        
 


// #galleryBox___________________________________________
#galleryBox{@include contentBox;}
  #galleryBox>ul{width:100%; height:100%;}
  #galleryBox>ul>li{width:100%; height:auto;}

  .mini_image{width:49%; height:320px; height:(320 / 960  *100)+vw; min-height:320px; 
    float:left; margin-bottom:20px;
    @include link($f:"ikea_inside_image/product_kategorie/popular_item/pello.png", $s:100px);}        
 
  .big_image{width:49%; height:320px; height:(320 / 960  *100)+vw; min-height:320px; 
    float:left; margin-left:20px;margin-bottom:20px;
    @include link($f:"ikea_inside_image/product_kategorie/popular_item/friheten.png", $s:500px);}

  .big_image2{width:49%; height:320px; height:(320 / 960  *100)+vw; min-height:320px; 
    float:left; margin-right:20px;
    @include link($f:"ikea_inside_image/product_kategorie/popular_item/friheten.png", $s:500px);} 
  
  .mini_image>ul{width:100%; height:100%;}
  .mini_image>ul>li{width:48%; height:146px; height:(146 / 960 *100)+vw; min-width:146px; margin-left:2%; }
  .mini_image>ul>li:nth-child(1){float:right; margin-bottom:2%;}
  .mini_image>ul>li:nth-child(2){float:left; margin-bottom:2%;}
  .mini_image>ul>li:nth-child(3){float:right;}
  .mini_image>ul>li:nth-child(4){float:left;}




















